@use '../abstract/function' as func;

.btn {
    padding: 0.8rem 1.6rem;
    border-radius: 6px;
    line-height: 1;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;

    &-primary {
        @extend .btn;
        background: func.theme-colors('primary');
        color: #fff !important;

        &:hover {
            background: func.theme-colors('primary-hover');
        }

        &-outlined {
            @extend .btn;
            background: #fff;
            border: 2px solid func.theme-colors('primary');
            color: func.theme-colors('primary');

            &:hover {
                background: func.theme-colors('primary');
                color: #fff;
            }
        }
    }
}
