.color-anim {
    transition: 0.5s;
    animation: color-change 10s infinite;
}

.text-uppercase {
    text-transform: uppercase;
}

.line {
    background: linear-gradient(to right, #e24997, #2d2ed4);
    width: 6rem;
    height: 0.5rem;
    border-radius: 30px;
    margin: 1.8rem auto;
}

.resize-x {
    resize: horizontal;
}

.resize-y {
    resize: vertical;
}

.resize-none {
    resize: none;
}

.image-responsive {
    max-width: 100%;
    height: auto;
}
