@use '../abstract/variable' as var;
@use '../abstract/function' as func;

.header {
    padding: 1rem 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;

    &__menu {
        display: flex;
        align-items: center;
        list-style: none;
        text-transform: uppercase;

        &--item > a {
            margin-right: 1.5rem;
            font-size: 0.9rem;
            font-weight: 600;
            color: #242424;
            transition: 0.2s;

            &:hover {
                color: func.theme-colors('primary');
            }

            &.active {
                color: func.theme-colors('primary');
            }
        }
    }
}
